// Typography
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
$font-default: "Nanum Pen Script", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;900&display=swap");
$font-keplt: "Nunito Sans", sans-serif;

// --Colors--

// main
$color-primary: #121314;
$color-secondary: #fff;

// white
$color-white: #fff;

// gray
$color-dark-gray: #878b97;
$color-default-gray: #b3b6bf;
$color-light-gray: #d8dade;
$color-light-gray-2: #eff0f2;

// Alerts
$color-error: #d94847;
$color-success: #3a9f58;
$color-warning: #febe00;

// Media queries
$iphone5-viewport: "max-width: 320px";
$xs-viewport: "max-width: 480px";
$sm-viewport: "max-width: 768px";
$md-viewport: "max-width: 1024px";
$lg-viewport: "min-width: 1024px";
$xl-viewport: "min-width: 1367px";
$retina-display: "(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)";
