@import "styles/variables";

.container {
  align-items: center;
  background-color: transparent;
  border: 2px solid $color-secondary;
  border-style: solid;
  color: inherit;
  display: flex;
  height: inherit;
  justify-content: center;
}
