@import "styles/variables";

.container {
  align-items: center;
  background-color: inherit;
  border: 2px solid $color-secondary;
  border-style: solid;
  color: $color-secondary;
  display: flex;
  height: inherit;
  justify-content: center;
  margin: 0;
  padding: inherit;
  width: inherit;
}
