@import "styles/variables";

.container {
  align-items: center;
  display: flex;
  height: auto;
  justify-content: center;
  position: relative;
  width: auto;
}

.disabled:hover {
  background-color: transparent;
  color: $color-error;
  cursor: default;
}

.used {
  position: absolute;
  transition: all 0.1s ease-in-out;
  z-index: 99;
  width: 100%;
}

.text {
  color: inherit;
  font-size: 2.5rem;
  transform: translateY(-2px);
  z-index: 9;
}
