@import "styles/variables";

.container {
  width: 2.8rem;
  height: 2.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.disabled {
  opacity: 0.1;
}

.border {
  position: absolute;
  top: 0;
  left: 0;
}

.used {
  position: absolute;
  top: 0.2rem;
  left: 0.05rem;
  z-index: 99;
}

.text {
  color: $color-secondary;
  font-size: 2.5rem;
  transform: translateY(-2px);
}
