@import "styles/variables";

.container {
  align-items: center;
  color: $color-secondary;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.word {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.icon {
  width: 30px;
  height: 30px;
}
