@import "styles/variables";

.container {
  align-items: center;
  color: $color-secondary;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 40px;
  z-index: 9;
}

.title {
  color: $color-success;
  font-size: 2rem;
  margin: 0 0 10px 0;
}

.subtitle {
  font-size: 1.4rem;
  margin: 10px;
}

.list {
  font-family: $font-keplr;
  font-size: 0.8rem;
  margin-bottom: 30px;
}

.button {
  background-color: transparent;
  border: none;
  color: $color-secondary;
  font-family: $font-default;
  font-size: 1.2rem;
}

.button:hover {
  background-color: $color-secondary;
  color: $color-primary;
}
