@import "styles/variables";

.container {
  align-items: center;
  color: $color-secondary;
  display: flex;
  height: 6rem;
  justify-content: center;
  position: relative;
  width: 4rem;
}

.letter {
  font-size: 5rem;
}

.placeholder {
  bottom: 0;
  left: 0;
  position: absolute;
}
