@import "styles/variables";

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0;
  padding: 5px;
  border: none;
  padding: 0.8rem 1.6rem;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1;
  -webkit-appearance: none;
  -moz-appearance: none;

  border-radius: 5px;

  animation-name: flash;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  //Firefox 1+
  -webkit-animation-name: flash;
  -webkit-animation-duration: 10s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  //Safari 3-4
  -moz-animation-name: flash;
  -moz-animation-duration: 10s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
}

@keyframes flash {
  0% {
    background-color: rgb(55, 0, 87);
  }
  10% {
    background-color: rgb(92, 1, 92);
  }
  20% {
    background-color: rgb(38, 0, 128);
  }
  30% {
    background-color: rgb(2, 2, 110);
  }
  40% {
    background-color: rgb(67, 67, 255);
  }
  50% {
    background-color: rgb(42, 42, 177);
  }
  60% {
    background-color: rgb(67, 67, 255);
  }
  70% {
    background-color: rgb(2, 2, 110);
  }
  80% {
    background-color: rgb(38, 0, 128);
  }
  90% {
    background-color: rgb(92, 1, 92);
  }
  100% {
    background-color: rgb(55, 0, 87);
  }
}
