@import "styles/variables";

.container {
  align-items: center;
  color: $color-secondary;
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: center;
  transform: translateY(5px);
  width: 90%;
}

.text {
  color: $color-error;
  font-size: 2rem;
  margin-bottom: 15px;
}

.buttonsContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  width: 100%;
}

.button {
  background-color: transparent;
  border: none;
  color: $color-secondary;
  font-family: $font-default;
  font-size: 1rem;
}

.button:hover {
  background-color: $color-secondary;
  color: $color-primary;
}
