.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px 100px 0;
}

.gibbet {
  min-width: 250px;
  margin: 0 15px;
}

.word_reveal {
  min-width: 300px;
  min-height: 100px;
  margin: 0 15px;
}

.lower {
  display: flex;
  justify-content: center;
  align-items: center;
}
