.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.mainSection {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.upper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 50px 100px 0;
}

.gibbet {
  margin: 0 15px;
  min-width: 250px;
}

.wordReveal {
  margin: 0 15px;
  min-height: 100px;
  min-width: 300px;
}

.lower {
  align-items: center;
  display: flex;
  justify-content: center;
}
