@import "styles/variables";

.container {
  width: 100%;
  padding: 10px 100px;
  border-bottom: 2px solid $color-secondary;
  display: flex;
  justify-content: space-between;
}

.title {
  color: $color-secondary;
}
