@import "styles/variables";

.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 100px 15px;
  position: relative;
  width: 100%;
}

.title {
  color: $color-secondary;
  font-size: 1.2rem;
  margin: 10px;
}

.title:hover {
  cursor: pointer;
}

.border {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.navLinks {
  display: flex;
}
